/* Cool Grey 0: #1C2A39
Cool Grey 1: #2C3A49
Cool Grey 2: #3C4A59
Cool Grey 3: #4C5A69
Cool Grey 4: #5C6A79
Cool Grey 5: #6C7A89
Cool Grey 6: #7C8A99
Cool Grey 7: #8C9AA9
Cool Grey 8: #9CAAB9
Cool Grey 9: #ACBAC9
Cool Grey 10: #BCCAD9
Cool Grey 11: #C5D3E2 */

body {
  margin: 0;
  background-color: #1c2a39;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-align: center;
  color: white;
  padding: 0;
  margin: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #9CAAB9;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
